@model MVC.Models.DTOs.AltaTurnoViewModel

@{
    ViewData["Title"] = "Crear Turno";
}

<h2 class="mb-4">Crear Turno</h2>

@if (TempData["msj"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["msj"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<form asp-action="Create" method="post">
    <div class="form-row mb-3">
        <div class="col-md-6">
            <label asp-for="Fecha" class="control-label font-weight-bold"></label>
            <input asp-for="Fecha" class="form-control" type="date" />
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row mb-3">
        <div class="col-md-6">
            <label asp-for="horarioSelec" class="control-label font-weight-bold">Horario</label>
            <select asp-for="horarioSelec" asp-items="Model.ListaHorarios" class="form-control custom-select"></select> <!-- custom-select agrega la flecha -->
            <span asp-validation-for="horarioSelec" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row mb-3">
        <div class="col-md-6">
            <label asp-for="clienteSeleccionado" class="control-label font-weight-bold">Cliente</label>
            <select asp-for="clienteSeleccionado" asp-items="Model.Clientes" class="form-control custom-select"></select>
            <span asp-validation-for="clienteSeleccionado" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row mb-3">
        <div class="col-md-6">
            <label asp-for="canchaSeleccionada" class="control-label font-weight-bold">Cancha</label>
            <select asp-for="canchaSeleccionada" asp-items="Model.Canchas" class="form-control custom-select"></select>
            <span asp-validation-for="canchaSeleccionada" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row mt-4">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">Guardar</button>
        </div>
        <div class="col-md-6">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-block">Volver a la lista</a>
        </div>
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
